/*-- Chart --*/


#chart svg {
  font: 10px sans-serif;
}
#chart path, line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}
#chart text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#chart .chart-arc path {
  stroke: #fff;

}
#chart .chart-arc text {
  fill: #fff;
  font-size: 13px;
}

/*-- Grid --*/

#chart .grid line {
  stroke: #aaa;
}
#chart .grid text {
  fill: #aaa;
}
#chart .xgrid, .ygrid {
  stroke-dasharray: 3 3;
}
#chart .xgrid-focus {
}

/*-- Text on Chart --*/

#chart .-text {
}

/*-- Line --*/

#chart .-line {
  stroke-width: 1px;
}
/*-- Point --*/

#chart .-circle._expanded_ {
  stroke-width: 1px;
  stroke: white;
}
#chart .selected-circle {
  fill: white;
  stroke-width: 2px;
}

/*-- Bar --*/

#chart .-bar._expanded_ {
  stroke-width: 1px;
  fill-opacity: 0.6;
}
/* TODO: use this*/
#chart .-bar._selected_ {
  stroke-width: 1px;
  fill-opacity: 0.3;
}
#chart .selected-bar {
  fill: white;
  stroke-width: 2px;
}

/*-- Arc --*/

#chart .chart-arcs-title {
  font-size: 1.3em;
}

/*-- Focus --*/

#chart .target.focused path.-line {
  stroke-width: 2px;
}

/*-- Region --*/

#chart .region {
  fill: steelblue;
  fill-opacity: .1;
}

/*-- Brush --*/

#chart .brush .extent {
  fill-opacity: .1;
}

/*-- Select - Drag --*/

#chart .dragarea {
}

/*-- Legend --*/

#chart .legend-item {
  font-size: 12px;
}

/*-- Tooltip --*/

#chart .-tooltip {
  border-collapse:collapse;
  border-spacing:0;
  background-color:#fff;
  empty-cells:show;
  -webkit-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
     -moz-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
          box-shadow: 7px 7px 12px -9px rgb(119,119,119);
  opacity: 0.9;
}
#chart .-tooltip tr {
  border:1px solid #CCC;
}
#chart .-tooltip th {
  background-color: #aaa;
  font-size:14px;
  padding:2px 5px;
  text-align:left;
  color:#FFF;
}
#chart .-tooltip td {
  font-size:13px;
  padding: 3px 6px;
  background-color:#fff;
  border-left:1px dotted #999;
}
#chart .-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}
#chart .-tooltip td.value{
  text-align: right;
}

#chart .-area {
  stroke-width: 0;
  opacity: 0.2;
}
